{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-main-wrapper">
        <div class="login-img"></div>
        <div class="login-wrapper">
            <div class="login--wrapper">
                {% block login %}
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}

